.navbar {
  display: flex;
  justify-content: center;
  position: relative;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  margin-left: auto;
}

.nav-container {
  padding: 0;
  margin: 0;
}

/* .navbar ul {
  position: absolute;
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-left: auto;
} */

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: row;
  text-align: center;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-wrap: wrap;
    left: 5.3rem;
    top: -1.4rem;
    margin-top: 2rem;
    justify-content: center;
  }

  .navbar li a {
    font-size: 1.2rem;
  }
}

.navbar li a {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.8rem;
  color: #666;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  margin-right: 9rem;
}

.navbar li a:hover {
  color: #333;
  padding-top: 1.5rem;
  transition: 0.2s;
}

/* .navbar-btn {
  margin-left: auto;
  position: flex;
  background: transparent;
  background-color: transparent;
  /* background-color: #0077ff; */
/* color: #333;
  padding: 0;
  border: none; */
/* border-radius: 0.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto; */
/* } */
/* 
.navbar-btn:hover {
  /* background-color: #0055cc; */
/* transform: rotate(90deg);
  transition: 0.4s; */
/* } */
